body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: black;
    display: flex;
    min-height: 100vh;
}
.container {
    width: 640px;
    height: 264px;
    background: #fff;
    margin: auto;
    padding: 0px 16px;
    box-sizing: border-box;
}

.loginTitle{
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 40px 0px;
    text-align: center;
}
.loginText{
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
}
.number {
    width: 608px;
    height: 48px;
    background: #fff;
    padding: 0px 16px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.btn{
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 384px;
    height: 48px;
    background: #232529;
    border: none;
    color: #fff;
    margin: 0 auto;
    display: block;

}
.btn:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
}